
.editor-textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  resize: vertical; /* Allow vertical resizing if needed */
}

.title-input {
    width: 100%;
}

.note-input {
  width: 100%;
}
