<div class="semantic-browser">
  <div class="button-bar">
    <button mat-button [disabled]="!currentNote" (click)="editButtonClicked()">Edit</button>
    <button mat-button [disabled]="!currentNote">Copy</button>
    <button mat-button [disabled]="!currentNote">Delete</button>
    <button mat-button [disabled]="!currentNote" (click)="createNewTagClicked()">Create Tag</button>
  </div>
  <div class="content">
    <div *ngIf="currentNote" class="current-note">
      <lantor-tag-list [tags]="currentNote.tags ?? []" (removeTag)="deleteTag($event)"></lantor-tag-list>
      <h1>{{currentNote.title}}</h1>
      <p>{{currentNote.content}}</p>
    </div>
    <div *ngIf="!currentNote" class="current-note">
      <p>Note not found...</p>
    </div>
    <div class="similar-note-list">
      <mat-tab-group>
        <mat-tab label="Tags">
          <mat-nav-list>
            <mat-list-item *ngFor="let tag of similarTags">{{ tag }}</mat-list-item>
          </mat-nav-list>
        </mat-tab>
        <mat-tab label="Notes">
          <mat-nav-list>
            <mat-list-item *ngFor="let note of similarNotes" (click)="similarNoteClicked(note.id)">{{ note.title }}</mat-list-item>
          </mat-nav-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
