<div class="semantic-browser">
  <div class="button-bar">
    <button mat-button [disabled]="!currentNote" (click)="backButtonClicked()">
      Back to Collection
      <mat-icon aria-hidden="false" aria-label="Browse" fontIcon="arrow_back"></mat-icon>
    </button>
    <button mat-button [disabled]="!currentNote" (click)="editButtonClicked()">
      <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit"></mat-icon>
      Edit
    </button>
    <button mat-button [disabled]="!currentNote" (click)="deleteNoteButtonClicked()">
      <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete"></mat-icon>
      Delete
    </button>
    <button mat-button [disabled]="!currentNote" (click)="createNewTagClicked()">
      <mat-icon aria-hidden="false" aria-label="Tag" fontIcon="sell"></mat-icon>
      Create Tag
    </button>
  </div>
  <div class="content">
    <div *ngIf="currentNote" class="current-note">
      <lantor-tag-list [tags]="currentNote.tags ?? []" (removeTag)="deleteTag($event)"></lantor-tag-list>
      <p class="collection-name">Parent collection: {{currentCollectionName}}</p>
      <h1>{{currentNote.title}}</h1>
      <p>{{currentNote.content}}</p>
    </div>
    <div *ngIf="!currentNote" class="taglist">
      <div class="taglist-left">
        <lantor-collection-selector></lantor-collection-selector>
      </div>
      <div class="taglist-right">
        <h3>Available Tags in the Collection:</h3>
        <mat-list role="list">
          <mat-list-item *ngFor="let tag of currentCollectionTags" role="listitem">{{tag}}</mat-list-item>
        </mat-list>
      </div>
    </div>
    <div *ngIf="currentNote" class="similar-note-list">
      <lantor-collection-selector></lantor-collection-selector>
      <div>
        <p>Tags</p>
        <mat-nav-list *ngIf="similarTags.length > 0">
          <mat-list-item *ngFor="let tag of similarTags">{{ tag }}</mat-list-item>
        </mat-nav-list>
        <span *ngIf="similarTags.length === 0">Not found</span>
      </div>
      <div>
        <p>Related Notes</p>
        <mat-nav-list>
          <mat-list-item *ngFor="let note of similarNotes" (click)="similarNoteClicked(note.id)">[{{note.similarityValue.toFixed(2)}}] {{ note.title }}</mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </div>
</div>
