
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 16px;
  padding: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 200px;
}

.content {
  overflow-y: hidden;
}

.controls {
  display: flex;
  justify-content: left;
  margin-bottom: 16px;
}

.control-button {
  font-size: var(--mat-sys-body-large-size);
  margin-left: 16px;
}

mat-form-field {
  width: 300px;
}

