<div class="controls">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter by title or content" />
  </mat-form-field>
  <button mat-stroked-button class="control-button mdc-text-field--outlined">
    <span>Add Note</span>
    <mat-icon aria-hidden="false" aria-label="Add new note" fontIcon="add"></mat-icon>
  </button>
</div>

<div class="card-container">
  <mat-card class="card" *ngFor="let item of pagedItems">
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-content>{{ item.content }}</mat-card-content>
  </mat-card>
</div>

<mat-paginator [length]="filteredItems.length"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)">
</mat-paginator>
