<div class="note-map">
  <div class="controls">
    <lantor-collection-selector></lantor-collection-selector>
    <button mat-stroked-button class="control-button mdc-text-field--outlined" (click)="redraw()">
      <span>Redraw</span>
      <mat-icon aria-hidden="false" aria-label="Redraw" fontIcon="refresh"></mat-icon>
    </button>
    <button mat-stroked-button class="control-button mdc-text-field--outlined" (click)="stopAnimation()">
      <span>Stop</span>
      <mat-icon aria-hidden="false" aria-label="Stop" fontIcon="stop"></mat-icon>
    </button>
  </div>
  <div id="svgContainer" class="svg-container"></div>
</div>
