<mat-card class="card">
  <mat-card-title>{{ note.title }}</mat-card-title>
  <mat-card-content class="content">{{ note.contentPreview }}</mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openBrowser()">
      <mat-icon aria-hidden="false" aria-label="Browse" fontIcon="east"></mat-icon>
    </button>
    <button mat-button (click)="openEditorToEditNote()">
      <mat-icon aria-hidden="false" aria-label="Browse" fontIcon="edit"></mat-icon>
    </button>
    <button mat-button (click)="deleteNote()">
      <mat-icon aria-hidden="false" aria-label="Browse" fontIcon="delete"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
