:host {
    max-width: 1280px;
    /*padding: 2rem;*/ /* quick fix for Material's tooltip/popup sideeffect */
    text-align: center;
}

@mixin som {
   padding-left: 1rem;
   padding-right: 1rem;
}

th, td {
    @include som;
}

table {
    margin: 0 auto;
}

main {
    height: calc(100% - 64px);
}
