<h2 mat-dialog-title>Create New Tag</h2>
<mat-dialog-content class="mat-typography">
  <form class="create-tag-form" [formGroup]="formGroup">
    <mat-form-field class="title-input">
      <mat-label>Tag Name</mat-label>
      <input matInput value="" type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="title-input">
      <mat-label>Tag Value</mat-label>
      <input matInput value="" type="text" formControlName="value">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="cancelButtonClicked()" [disabled]="cancelDisabled()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveButtonClicked()" [disabled]="saveDisabled()">Save</button>
</mat-dialog-actions>

