<div class="controls">
  <lantor-collection-selector [allowCreatingCollection]="true"></lantor-collection-selector>
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter by title or content" />
  </mat-form-field>
  <button mat-stroked-button matTooltip="Create New Note" class="control-button mdc-text-field--outlined" (click)="openEditorToCreateNewNote()">
    <span>Note</span>
    <mat-icon aria-hidden="false" aria-label="Add new note" fontIcon="add"></mat-icon>
  </button>
</div>

<mat-paginator [length]="filteredItems.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
</mat-paginator>

<div class="card-container">
  <lantor-note-card *ngFor="let item of pagedItems" [note]="item">
  </lantor-note-card>
</div>

