<mat-form-field appearance="outline">
  <mat-label>Collection</mat-label>
  <mat-select [(ngModel)]="selectedCollection" name="collection" (selectionChange)="selectioinChanged()">
    @for (noteCollection of collections; track noteCollection) {
    <mat-option [value]="noteCollection">{{noteCollection.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<button *ngIf="allowCreatingCollection" mat-stroked-button class="control-button mdc-text-field--outlined" (click)="openEditorToCreateNewCollection()">
  <span>Create New Collection</span>
  <mat-icon aria-hidden="false" aria-label="Create New Collection" fontIcon="add"></mat-icon>
</button>
