mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 25px;
}

.spacer {
  flex: 1;
  font-size: 14px;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.menu-button {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
