<mat-toolbar color="primary">
  <h1 class="logo">Semantic Notes</h1>
  <nav class="nav-links">
    <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/insights" routerLinkActive="active-link">Insights</a>
    <a mat-button routerLink="/notes" routerLinkActive="active-link">Notes</a>
    <a mat-button routerLink="/browser" routerLinkActive="active-link">Browser</a>
    <a mat-button routerLink="/map" routerLinkActive="active-link">Map</a>
  </nav>
  <span class="spacer mat-h2">
    {{getUserName()}}
  </span>
  <nav class="nav-links">
    <button *ngIf="!isLoggedIn()" mat-button (click)="login()">Login</button>
    <button *ngIf="isLoggedIn()" mat-button (click)="logout()">Logout</button>
  </nav>
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Responsive Menu -->
<div class="mobile-menu" *ngIf="isMenuOpen">
  <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
  <a mat-button routerLink="/insights" routerLinkActive="active-link">Insights</a>
  <a mat-button routerLink="/notes" routerLinkActive="active-link">Notes</a>
  <a mat-button routerLink="/browser" routerLinkActive="active-link">Browser</a>
  <a mat-button routerLink="/map" routerLinkActive="active-link">Map</a>
  <button *ngIf="!isLoggedIn()" mat-button (click)="login()">Login</button>
  <button *ngIf="isLoggedIn()" mat-button (click)="logout()">Logout</button>
</div>
